In [2]:
# Given list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()
print("Sorted ages:", ages)

# Find the min and max age
min_age = ages[0]
max_age = ages[-1]
print("Min age:", min_age)
print("Max age:", max_age)

# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print("Ages after adding min and max again:", ages)

# Find the median age
ages.sort()  # Ensure the list is sorted after additions
length = len(ages)
if length % 2 == 0:
    median = (ages[length // 2 - 1] + ages[length // 2]) / 2
else:
    median = ages[length // 2]
print("Median age:", median)

# Find the average age
average = sum(ages) / length
print("Average age:", average)

# Find the range of the ages
age_range = max_age - min_age
print("Age range:", age_range)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Age range: 7

In [3]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5
print("Dog dictionary:", dog)

# Create a student dictionary and add first_name, last_name, gender, age, marital status,
# skills, country, city and address as keys for the dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}
print("Student dictionary:", student)

# Get the length of the student dictionary
student_length = len(student)
print("Length of student dictionary:", student_length)

# Get the value of skills and check the data type, it should be a list
skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))

# Modify the skills values by adding one or two skills
student['skills'].extend(['C++', 'SQL'])
print("Modified skills:", student['skills'])

# Get the dictionary keys as a list
student_keys = list(student.keys())
print("Student dictionary keys:", student_keys)

# Get the dictionary values as a list
student_values = list(student.values())
print("Student dictionary values:", student_values)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'Java'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of student dictionary: 9
Skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Modified skills: ['Python', 'Java', 'C++', 'SQL']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 22, 'Single', ['Python', 'Java', 'C++', 'SQL'], 'USA', 'New York', '123 Main St']

In [4]:
# Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
sisters = ("Anna", "Beth")
brothers = ("John", "Mike")

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print("Siblings:", siblings)

# How many siblings do you have?
num_siblings = len(siblings)
print("Number of siblings:", num_siblings)

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
# Note: Tuples are immutable, so we cannot modify them directly. Instead, we create a new tuple.
family_members = siblings + ("Father", "Mother")
print("Family members:", family_members)

Siblings: ('Anna', 'Beth', 'John', 'Mike')
Number of siblings: 4
Family members: ('Anna', 'Beth', 'John', 'Mike', 'Father', 'Mother')

In [5]:
# Given data
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
length_it_companies = len(it_companies)
print("Length of it_companies:", length_it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding Twitter:", it_companies)

# Insert multiple IT companies at once to the set it_companies
it_companies.update({'Netflix', 'Tesla', 'Adobe'})
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('Oracle')  # Remove 'Oracle' as an example
print("it_companies after removing Oracle:", it_companies)

# Difference between remove and discard:
# - remove: Raises a KeyError if the item is not found.
# - discard: Does not raise an error if the item is not found.

# Join A and B
A_union_B = A.union(B)
print("A union B:", A_union_B)

# Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# Is A subset of B
A_subset_B = A.issubset(B)
print("Is A subset of B:", A_subset_B)

# Are A and B disjoint sets
A_disjoint_B = A.isdisjoint(B)
print("Are A and B disjoint sets:", A_disjoint_B)

# Join A with B and B with A
A_union_B = A.union(B)
B_union_A = B.union(A)
print("A union B:", A_union_B)
print("B union A:", B_union_A)

# What is the symmetric difference between A and B
A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)

# Delete the sets completely
del A
del B

# Convert the ages list to a set and compare the length of the list and the set
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies: 7
it_companies after adding Twitter: {'Google', 'Microsoft', 'Facebook', 'Oracle', 'Apple', 'Twitter', 'Amazon', 'IBM'}
it_companies after adding multiple companies: {'Google', 'Adobe', 'Facebook', 'Apple', 'Twitter', 'Netflix', 'Amazon', 'Tesla', 'Oracle', 'Microsoft', 'IBM'}
it_companies after removing Oracle: {'Google', 'Adobe', 'Facebook', 'Apple', 'Twitter', 'Netflix', 'Amazon', 'Tesla', 'Microsoft', 'IBM'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

In [6]:
import math

# Given radius
radius = 30

# Calculate the area of the circle
_area_of_circle_ = math.pi * (radius ** 2)
print("Area of the circle with radius 30 meters:", _area_of_circle_)

# Calculate the circumference of the circle
_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle with radius 30 meters:", _circum_of_circle_)

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * (user_radius ** 2)
print("Area of the circle with user-provided radius:", user_area_of_circle)

Area of the circle with radius 30 meters: 2827.4333882308138
Circumference of the circle with radius 30 meters: 188.49555921538757

Enter the radius of the circle:  25

Area of the circle with user-provided radius: 1963.4954084936207

In [7]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Convert the list of words to a set to get unique words
unique_words = set(words)

# Find the number of unique words
num_unique_words = len(unique_words)
print("Number of unique words:", num_unique_words)

Number of unique words: 10

In [8]:
# Using tab escape sequence to format the output
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [9]:
# Given values
radius = 10
area = 3.14 * radius ** 2

# Using string formatting to display the message
message = f"The area of a circle with radius {radius} is {int(area)} meters square."
print(message)

The area of a circle with radius 10 is 314 meters square.

In [ ]:
# Conversion factor from pounds to kilograms
lbs_to_kg = 0.453592

# Read number of students from user
N = int(input("Enter the number of students: "))

# Initialize an empty list to store weights in lbs
weights_lbs = []

# Read weights from the user
for i in range(N):
    weight = float(input(f"Enter weight of student {i+1} in lbs: "))
    weights_lbs.append(weight)

# Convert weights to kilograms
weights_kg = [round(weight * lbs_to_kg, 2) for weight in weights_lbs]

# Print the results
print("Weights in lbs:", weights_lbs)
print("Weights in kg:", weights_kg)